<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">

  <meta charset="UTF-8" />
<!--  <meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
<!--  <meta http-equiv="X-UA-Compatible" content="ie=edge" />-->
  <title>Document</title>
  <link rel="stylesheet" href="/index/css/swiper-3.4.2.min.css" />
  <link rel="stylesheet" href="/index/css/GL.css" />
  <script src="/index/js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="/index/js/swiper-3.4.2.jquery.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="/index/js/swiper-3.4.2.min.js" ></script>

</head>

<body>
<!--  <div class="top_find">-->
<!--    <div class="top_find_son">-->
<!--      <img src="/img/9358d109b3de9c82c2c6581d6c81800a18d84384.jpg" alt="">-->
<!--      <div class="input_find">-->
<!--        <input type="text" placeholder="卸妆水" />-->
<!--        <span style="background: url(../static/index/img/img_12.png) 0 -1px;"></span>-->
<!--        <a href="#"><img src="/index/img/img_09.png" /></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <ul class="left_floor" >
    <li class="left_floor_xiang" >享品质</li>
    <li class="left_floor_fu">服饰美妆</li>
    <li class="left_floor_jia">家电手机</li>
    <li class="left_floor_dian">电脑数码</li>
    <li class="left_floor_3C">3C运动</li>
    <li class="left_floor_ai">爱吃</li>
    <li class="left_floor_mu">母婴家居</li>
    <li class="left_floor_tu">图书汽车</li>
    <li class="left_floor_you">游戏金融</li>
    <li class="left_floor_lv">旅行健康</li>
    <li class="left_floor_hai">还没逛够</li>
    <li class="left_floor_ding">顶部</li>
  </ul>
  <header>

    <!--头部-->
    <div class="header_head">
      <div class="header_head_box">
        <a href="#" class="img"><img src="/img/logo_hncu.jpg" width="120" height="120" style="margin-top: 40px"/></a>
        <b class="header_head_p">
  						<a href="#">
  							<img src="/index/img/img_05.png" style="border-radius: 50%;"/>
  							 湖南</a>
  						<div class="header_head_p_cs">
  							<a href="#" style="background: #003366;color: #fff;">北京</a>
  							<a href="#">上海</a>
  							<a href="#">天津</a>
  							<a href="#">重庆</a>
  							<a href="#">河北</a>
  							<a href="#">山西</a>
  							<a href="#">河南</a>
  							<a href="#">辽宁</a>
  							<a href="#">吉林</a>
  							<a href="#">黑龙江</a>
  							<a href="#">内蒙古</a>
  							<a href="#">江苏</a>
  							<a href="#">山东</a>
  							<a href="#">安徽</a>
  							<a href="#">浙江</a>
  							<a href="#">福建</a>
  							<a href="#">湖北</a>
  							<a href="#">湖南</a>
  							<a href="#">广东</a>
  							<a href="#">广西</a>
  							<a href="#">江西</a>
  							<a href="#">四川</a>
  							<a href="#">海南</a>
  							<a href="#">贵州</a>
  							<a href="#">云南</a>
  							<a href="#">西藏</a>
  							<a href="#">陕西</a>
  							<a href="#">甘肃</a>
  							<a href="#">青海</a>
  							<a href="#">宁夏</a>
  							<a href="#">新疆</a>
  							<a href="#">港澳</a>
  							<a href="#">台湾</a>
  							<a href="#">钓鱼岛</a>
  							<a href="#">海外</a>
  						</div>
  					</b>
        <ul>
          <li th:each="cookie :${#httpServletRequest.getCookies()}"
              th:text="${cookie.getName().equals('oldToken')?'admin':'你好，请登录'}">
              欢迎
          </li>
          <li th:if="${#httpServletRequest.getCookies() == null}">
            <a href="http://passport.cmall.com:8085/index?ReturnUrl=http://search.cmall.com:8083/index">你好，请登录</a>
          </li>
          <li>
            <a href="/注册页面\index.html" class="li_2">学生/老师账号注册</a>
          </li>
          <span>|</span>
          <li>
            <a href="#">我的订单</a>
          </li>


        </ul>
      </div>
    </div>
    <!--搜索导航-->
    <div class="header_sous">
      <div class="header_form">
        <input id="searchText" type="text" placeholder="" />
        <span style="background: url(../static/index/img/img_12.png) 0 -1px;"></span>
        <!--<button><i class="glyphicon"></i></button>-->
        <a  href="javascript:search();" style="color: white">搜索</a>
      </div>
      <div class="header_ico">
        <div class="header_gw">
          <img src="/index/img/img_15.png" />
          <span><a href="http://cart.cmall.com:8084/cartList">我的购物车</a></span>
          <span>0</span>
        </div>
        <div class="header_ko">
          <p>购物车中还没有商品，赶紧选购吧！</p>
        </div>
      </div>
      <div class="header_form_nav">
        <ul>
          <li>
            <a href="#" class="aaaaa">闲置书籍</a>
          </li>
          <li>
            <a href="#">吉他</a>
          </li>
          <li>
            <a href="#">交通</a>
          </li>
          <li>
            <a href="#">补习</a>
          </li>
          <li>
            <a href="#">自行车</a>
          </li>
          <li>
            <a href="#">手机</a>
          </li>
          <li>
            <a href="#">相机</a>
          </li>
          <li>
            <a href="#">小物</a>
          </li>
        </ul>
      </div>
      <nav>
        <ul>

          <li>
            <a href="#">全新产品</a>
          </li>
          <li>
            <a href="#">9成新低价产品</a>
          </li>

        </ul>
        <div class="spacer">|</div>
        <ul>
          <li>
            <a href="#">最新发布</a>
          </li>
          <li>
            <a href="#">闲置数码</a>
          </li>
          <li>
            <a href="#">校园代步</a>
          </li>
          <li>
            <a href="#">电器日用</a>
          </li>
        </ul>
        <div class="spacer">|</div>
        <ul>
          <li>
            <a href="#">票券小物</a>
          </li>
        </ul>
      </nav>
<!--      <div class="right">-->
<!--        <a href="#"><img src="/index/img/img_21.png" /></a>-->
<!--      </div>-->
    </div>
    <!--轮播主体内容-->
    <div class="header_main">
      <div class="header_banner">
        <div class="header_main_left">
          <ul>
            <li>
              <a href="#" class="header_main_left_a" ctg-data="3"><b>家用电器</b></a>
            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a" ctg-data="2,4"><b>手机</b> / <b>运营商</b> / <b>数码</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a" ctg-data="6"><b>电脑</b> / <b>办公</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a" ctg-data="5,7"><b>家居</b> / <b>家具</b> / <b>家装</b> / <b>厨具</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a"  ctg-data="9"><b>男装</b> / <b>女装</b> / <b>童装</b> / <b>内衣</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a"  ctg-data="8"><b>美妆个护 </b>/ <b>宠物</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a"  ctg-data="11,13,10,15"><b>鞋</b> / <b>箱包</b> / <b>钟表</b> / <b>珠宝</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a"  ctg-data="17"> <b>运动</b> / <b>户外</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a" ctg-data="16,21"><b>汽车</b> / <b>汽车用品</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a" ctg-data="12,18"><b>母婴</b> / <b>玩具乐器</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a" ctg-data="14,20"><b>食品</b> / <b>酒类</b> / <b>生鲜</b> / <b>特产</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a" ><b>礼品鲜花</b> / <b>农资绿植</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a"><b>医药保健</b> / <b>计生情趣</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a" ctg-data="1"><b>图书</b> / <b>音像</b>/ <b>电子书</b></a>

            </li>
            <li class="header_li2">
              <a href="#" class="header_main_left_a" ctg-data="19"><b>彩票</b> / <b>酒店</b> / <b>旅游</b> / <b>生活</b></a>

            </li>

          </ul>

        </div>
        <div class="header_main_center">
          <div class="swiper-container swiper1">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#"><img src="/index/img/banner.jpg" width="790" height="340" /></a>
              </div>

              <div class="swiper-slide">
                <a href="#"><img src="/index/img/banner2.jpg" width="790" height="340" /></a>
              </div>

              <div class="swiper-slide">
                <a href="#"><img src="/index/img/banner3.jpg" width="790" height="340" /></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="/index/img/banner4.jpg" width="790" height="340"/></a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
          </div>
          <div class="header_main_center_b">
            <a href="#"><img src="/index/img/downbanner1.jpg" /></a>
            <a href="#"><img src="/index/img/downbanner2.jpg" /></a>
          </div>
        </div>
        <div class="header_main_right">
          <div class="header_main_right_user">
            <div class="user_info">
              <div class="user_info_tou">
                <a href="#"><img class="" src="/index/img/touxiang.png"></a>
              </div>
              <div class="user_info_show">
                <p class="">Hi,欢迎来到交易市场!</p>
                <p>
                  <a href="http://passport.cmall.com:8085/index?ReturnUrl=http://search.cmall.com:8083/index" class="">登录</a>
                  <a href="#" class="">注册</a>
                </p>
              </div>
            </div>
            <div class="user_info_hide">
              <a href="#">学生福利</a>
              <a href="#">老师福利</a>
            </div>
          </div>
          <div class="header_main_right_new">
            <div class="header_new">
              <div class="header_new_t">
<!--                <p class="active">-->
<!--                  <a href="#">促销</a>-->
<!--                </p>-->
                <p>
                  <a href="#">城院公告</a>
                </p>
<!--                <a href="#">更多</a>-->
              </div>
              <div class="header_new_connter">
                <div class="header_new_connter_1">
                  <ul>
                    <li>
                      <a href="#">湖南城市学院常年招聘博士、教授等高层次人才</a>
                    </li>
                    <li>
                      <a href="#">关于2020年“五一”劳动节放假的通知</a>
                    </li>
                    <li>
                      <a href="#">关于开展2020年度上半年纵向科研项目结题工作的通知</a>
                    </li>
                    <li>
                      <a href="#">关于组织收看保密工作公益广告片的通知</a>
                    </li>
                  </ul>
                </div>
<!--                <div class="header_new_connter_1" style="display: none;">-->
<!--                  <ul>-->
<!--                    <li>-->
<!--                      <a href="#">关于召回普利司通（天津）轮胎有限公司2个规格乘用车轮胎的公告</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <a href="#">物流推出配送员统一外呼电话"95056”</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <a href="#">天府大件运营中心开仓公告</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <a href="#">大件物流“送装一体”服务全面升级！</a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </div>-->
              </div>
            </div>
          </div>
<!--          <div class="header_main_right_ser">-->
<!--            <div class="ser_box">-->
<!--              <ul>-->
<!--                <li class="ser_box_item">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/huafei.png" />-->
<!--  											<span>话费</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--                <li class="ser_box_item">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/jipiao.png" />-->
<!--  											<span>机票</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--                <li class="ser_box_item">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/jiudian.png" />-->
<!--  											<span>酒店</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--                <li class="ser_box_item">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/youxi.png" />-->
<!--  											<span>游戏</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--                <li class="ser_box_item1">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/qiyegou.png" />-->
<!--  											<span>企业购</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--                <li class="ser_box_item1">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/jiayouka.png" />-->
<!--  											<span>加油卡</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--                <li class="ser_box_item1">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/dianyingpiao.png" />-->
<!--  											<span>电影票</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--                <li class="ser_box_item1">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/huochepiao.png" style="height:20px;" />-->
<!--  											<span>火车票</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--                <li class="ser_box_item1">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/zhongchou.png" />-->
<!--  											<span>众筹</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--                <li class="ser_box_item1">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/licai.png" style="height:22px;" />-->
<!--  											<span>理财</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--                <li class="ser_box_item1">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/lipinka.png" style="height:14px;" />-->
<!--  											<span>礼品卡</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--                <li class="ser_box_item1">-->
<!--                  <a href="#">-->
<!--  											<img src="/index/img/baitiao.png" style="height:20px;" />-->
<!--  											<span>白条</span>-->
<!--  										</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--              <div class="ser_box_aaa">-->
<!--                <div class="ser_box_aaa_one">-->
<!--                  <div class="ser_box_aaa_nav">-->
<!--                    <ol>-->
<!--                      <li class="active">-->
<!--                        <a href="#">话费</a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <a href="#">机票</a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <a href="#">酒店</a>-->
<!--                      </li>-->
<!--                      <li>-->
<!--                        <a href="#">游戏</a>-->
<!--                      </li>-->
<!--                    </ol>-->
<!--                    <div class="ser_ol">-->
<!--                      <div class="ser_ol_li">-->
<!--                        <ul>-->
<!--                          <div class="guanbi">X</div>-->
<!--                          <a class="active">话费充值</a>-->
<!--                          <a>流量充值</a>-->
<!--                          <a>套餐变更</a>-->
<!--                          <div class="ser_ol_div">-->
<!--                            <p>号码<input type="text" /></p>-->
<!--                            <p style="margin: 10px 0;">面值-->
<!--                              <select name="">-->
<!--  																	<option value="">100元</option>-->
<!--  																	<option value="">20元</option>-->
<!--  																	<option value="">50元</option>-->
<!--  																	<option value="">10元</option>-->
<!--  																	<option value="">2元</option>-->
<!--  																</select>-->
<!--                              <span>￥98.0-￥100.0</span></p>-->
<!--                          </div>-->
<!--                          <button>快速充值</button>-->
<!--                          <p class="p">抢99减50元话费</p>-->
<!--                        </ul>-->

<!--                      </div>-->
<!--                      <div class="ser_ol_li">-->
<!--                        <ul>-->
<!--                          <div class="guanbi">X</div>-->
<!--                          <a class="active">国际机票</a>-->
<!--                          <a>国际/港澳</a>-->
<!--                          <a>特惠活动</a>-->
<!--                          <div class="ser_ol_div1">-->
<!--                            <p>-->
<!--                              <input type="radio" name="a" style="vertical-align:middle;" />单程-->
<!--                              <input type="radio" name="a" style="vertical-align:middle;" />往返-->
<!--                            </p>-->
<!--                            <input type="text" placeholder="出发城市" />-->
<!--                            <input type="text" placeholder="到达城市" />-->
<!--                            <input type="text" placeholder="日期" />-->
<!--                          </div>-->
<!--                          <button>机票查询</button>-->
<!--                          <span class="p">当季热门特惠机票</span>-->
<!--                        </ul>-->
<!--                      </div>-->
<!--                      <div class="ser_ol_li">-->
<!--                        <ul>-->
<!--                          <div class="guanbi">X</div>-->
<!--                          <a class="active" style="width: 50%;">国内港澳台</a>-->
<!--                          <a style="width: 50%;">促销活动</a>-->
<!--                          <div class="ser_ol_div1">-->
<!--                            <input type="text" placeholder="出发城市" style="margin-top: 10px;" />-->
<!--                            <input type="text" placeholder="到达城市" />-->
<!--                            <input type="text" placeholder="日期" />-->
<!--                            <input type="text" placeholder="酒店 商圈 地标" />-->
<!--                          </div>-->
<!--                          <button>酒店查询</button>-->
<!--                          <span class="p">订酒店到</span>-->
<!--                        </ul>-->
<!--                      </div>-->
<!--                      <div class="ser_ol_li">-->
<!--                        <ul>-->
<!--                          <div class="guanbi">X</div>-->
<!--                          <a class="active">点卡</a>-->
<!--                          <a>QQ</a>-->
<!--                          <a>页游</a>-->
<!--                          <div class="ser_ol_div1">-->
<!--                            <input type="text" placeholder="游戏" style="margin-top: 15px;" />-->
<!--                            <br />面值-->
<!--                            <select name="" style="margin: 8px 0;">-->
<!--  																<option value="">面值</option>-->
<!--  																<option value="">面值</option>-->
<!--  																<option value="">面值</option>-->
<!--  															</select><span style="color: #C81623;">￥0.00</span>-->
<!--                            <p>-->
<!--                              <input type="radio" name="a" style="width: 15px;vertical-align:middle;" />直充-->
<!--                              <input type="radio" name="a" style="width: 15px;vertical-align:middle;" />卡密-->
<!--                            </p>-->
<!--                          </div>-->
<!--                          <button>快速充值</button>-->
<!--                          <span class="p">吃鸡就要快人一步</span>-->
<!--                        </ul>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </header>

  <div class="section_second">
    <!-- 第一层 -->
    <div class="section_second_header">
      <p class="section_second_header_img"></p>
      <div class="section_second_header_left">
        <p></p>
        <span class="">限时优惠</span>
        <span>低价购买 重复利用</span>
        <span>
        </span>
      </div>
      <div class="section_second_header_right">
        <p>倒计时</p>
        <span class="section_second_header_right_hours">00</span>
        <span class="section_second_header_right_mao">：</span>
        <span class="section_second_header_right_minutes">00</span>
        <span class="section_second_header_right_mao">：</span>
        <span class="section_second_header_right_second">00</span>
        <p>后结束</p>
      </div>
    </div>
    <div class="section_second_list">
      <div class="swiper-container swiper_section_second_list_left">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <ul>
              <li>
                <img src="/index/img/jita.jpg" alt="" height="130" width="130">
                <p>二手吉他低价抛售</p>
                <span>¥285</span><s>¥99.9</s>
              </li>
              <li>
                <img src="/index/img/siji.jpg" alt="" height="130" width="130">
                <p>全新四级英语阅读理解训练册</p>
                <span>¥17.90</span><s>¥29.90</s>
              </li>
              <li>
                <img src="/index/img/kaoyan.jpg" alt="" height="130" width="130">
                <p>考研政治英语数学全套</p>
                <span>¥29.00</span><s>¥44.90</s>
              </li>
              <li>
                <img src="/index/img/nike.jpg" alt="" height="130" width="130" >
                <p>NIKE运动挎包全新出售</p>
                <span>¥399.00</span><s>¥599.00</s>
              </li>
              <li>
                <img src="/index/img/pad.jpg" alt="" height="130" width="130">
                <p>Thinkpad笔记本毕业转让</p>
                <span>¥5999.00</span><s>¥6499.00</s>
              </li>
            </ul>
          </div>
          <div class="swiper-slide">
            <ul>
              <li>
                <img src="/index/img/yangwo.jpg" alt="" height="130" width="130">
                <p>九成新仰卧板 便宜出售</p>
                <span>¥9588.00</span><s>¥10288.00</s>
              </li>
              <li>
                <img src="/index/img/chuanhu.jpg" alt="" height="130" width="130">
                <p>无线传呼机</p>
                <span>¥848.00</span><s>¥899.00</s>
              </li>
              <li>
                <img src="/index/img/zixingche.jpg" alt="" height="130" width="130">
                <p>全新山地车特价：现价380元，原价498元，21速碟刹加厚铝合金轮子
                </p>
                <span>¥379.00</span><s>¥698.00</s>
              </li>
              <li>
                <img src="/index/img/caibi.jpg" alt="" height="130" width="130">
                <p>20出手辉柏嘉48色水溶性彩色铅笔一套</p>
                <span>¥3088.00</span><s>¥3299.00</s>
              </li>
              <li>
                <img src="/index/img/yangpai.jpg" alt="" height="130" width="130">
                <p>蒙羊内蒙古羔羊羊肋排</p>
                <span>¥99.90</span><s>¥199.00</s>
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-button-prev second_list">
          <p></p>
        </div>
        <div class="swiper-button-next second_list">
          <p></p>
        </div>
      </div>
      <ul class="section_second_list_right">
        <li>
          <img src="/index/img/miaosha1.jpg" alt="" height="225" width="180">
        </li>
        <li>
          <img src="/index/img/miaosha2.jpg" alt="" height="225" width="180">
        </li>
        <div class="section_second_list_right_button">
          <p class="section_second_list_right_button_active"></p>
          <p></p>
        </div>
      </ul>
    </div>
 
 
  </div>


 
</body>
<script type="text/javascript">
  function search() {
      var keyword=$("#searchText").val()
      window.location.href="http://search.cmall.com:8083/list.html?keyword="+keyword;
  }

</script>
<script type="text/javascript" src="/index/js/text.js"></script>
<script type="text/javascript" src="/index/js/header.js"></script>
<script type="text/javascript" src="/index/js/secend.js"></script>
<script type="text/javascript" src="/index/js/zz.js"></script>
<script type="text/javascript" src="/index/js/index.js"></script>
<script type="text/javascript" src="/index/js/left,top.js"></script>
<script type="text/javascript" src="/index/js/catalogLoader.js"></script>
</html>
