<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>交易平台后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div>
    <blockquote class="layui-elem-quote layui-quote-nm">
        <span class="layui-breadcrumb">
          <a href="/admin/welcome">首页</a>
          <a href="">基本信息管理</a>
          <a><cite>平台属性管理</cite></a>
        </span>
    </blockquote>
</div>

<div class="layui-container">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label"><b>一级分类</b></label>
            <div class="layui-input-inline">
                <select name="catalog1" id="catelog1" lay-search lay-filter="catelog1Id">
                    <option value="">请选择</option>
                </select></div>
            <label class="layui-form-label"><b>二级分类</b></label>
            <div class="layui-input-inline"><select name="catalog2" id="catelog2" lay-search
                                                    lay-filter="catelog2Id"></select></div>
            <label class="layui-form-label"><b>三级分类</b></label>
            <div class="layui-input-inline"><select name="catalog3" id="catelog3" lay-search
                                                    lay-filter="catelog3Id"></select></div>
        </div>
        <button type="button" class="layui-btn layui-btn-normal" onclick="addAttr()">
            <i class="layui-icon layui-icon-addition"></i>添加平台属性
        </button>
    </form>
    <table class="layui-table" id="attrList" >
        <thead>
        <tr>
            <th>序号</th>
            <th>属性id</th>
            <th>属性名称</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody id="attrList_tb"></tbody>
    </table>
</div>


<div class="layui-container" id="addAttr_mt" style="display: none; width: 800px; height:  500px">
    <br>
    <form class="layui-form" action="/saveAttrInfo" id="saveAttr_form">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px"><b>当前三级分类</b></label>
            <div class="layui-input-inline">
                <select name="catalog3Id" lay-filter="catelog3Id_mk">
                    <option id="catelog3_ch" value="" selected>请选择</option>
                </select>
            </div>
        </div>
        <hr>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px"><b>平台属性名称</b></label>
            <div class="layui-input-inline">
                <input id="name_null" type="text" name="attrName" required lay-verify="required" placeholder="请输入平台属性名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-container" style="width: 700px; height:200px">
            <button type="button" class="layui-btn layui-btn-normal" onclick="addAttrValue()">
                <i class="layui-icon layui-icon-addition"></i>添加属性值
            </button>
            <div class="layui-container" style="width: 700px; height:200px; text-align: center;">
                <table class="layui-table addAttrTable" >
                    <colgroup>
                        <col>
                        <col width="200">
                    </colgroup>
                    <thead>
                    <tr>
                        <th><b>属性值名称</b></th>
                        <th><b>操作</b></th>
                    </tr>
                    </thead>
                    <tbody id="AttrValue_body">
                    </tbody>
                </table>
                <button type="button" class="layui-btn layui-btn-normal" onclick="saveAttr()">
                    <i class="layui-icon layui-icon-addition"></i>保存
                </button>
            </div>

        </div>


    </form>
</div>


<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script>

    layui.use(['form'], function () {
        var form = layui.form;
        $.ajax({
            url: "/getCatalog1",
            dataType: 'json',
            type: "GET",
            success: function (result) {
                $.each(result, function (index, item) {
                    $("#catelog1").append("<option value=" + item.id + ">" + item.name + "</option>")
                });
                form.render()
            }
        });

    });


    //添加平台属性模态框
    function addAttr() {
        layui.use(['form', 'layedit', 'laydate', 'table', 'element'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate,
                element = layui.element, //导航的hover效果、二级菜单等功能，需要依赖element模块
                table = layui.table,
                $ = layui.jquery;

            var catelog3Id = $("#catelog3").val()
            var catelog3Name = $("#catelog3 :selected").text()
            if (catelog3Id == null || catelog3Id=="") {
                layer.alert("请先选择三级分类！")
                return false;
            }

            layer.open({
                type: 1,
                title: "添加平台属性",
                area: ['900px', '600px'],
                scrollbar: false,
                content: $('#addAttr_mt')
            });
            $("#name_null").val(null);
            $("#AttrValue_body").empty();
            $("#catelog3_ch").attr("selected","selected")
            $("#catelog3_ch").attr("value", catelog3Id);
            $("#catelog3_ch").text(catelog3Name);
            console.log($("#catelog3_ch").val()+"-----"+$("#catelog3_ch").text()+"-----"+$("#catelog3_ch").attr("name"))
            form.render()
        });
    }

    //根据三级分类获取平台属性列表
    function getAttrList(catelog3Id) {
        $.ajax({
            url: "/attrInfoList?catalog3Id=" + catelog3Id,
            dataType: 'json',
            type: "GET",
            success: function (result) {
                $("#attrList_tb").empty();
                $.each(result, function (index, item) {
                    $("#attrList_tb").append("<tr>"
                        + "<td>" + (index + 1) + "</td>"
                        + "<td id=" + item.id + ">" + item.id + "</td>"
                        + "<td>" + item.attrName + "</td>"
                        + "<td>"
                        + "<button editattrid=" + item.id + " type='button' class='layui-btn' onclick='editAttr(this)'>" + "<i class='layui-icon layui-icon-edit'></i> 修改" + "</button>"
                        + "<button delattrid=" + item.id + " type='button' class='layui-btn layui-btn-danger' onclick='delAttr(this)'>" + "<i class='layui-icon layui-icon-delete'></i>删除" + "</button>"
                        + "</td>"
                        + "</tr>")
                });

                form.render()
            }
        });
    }

    //删除属性值
    function del_AttrValue(obj) {

        console.log($(obj).parent("td").parent("tr"))
        layui.use(['form', 'layedit', 'laydate', 'table', 'element'], function () {
            var form = layui.form,
                layer = layui.layer;
            $(obj).parents("tr").remove();
            form.render();
        });

    }

    //添加属性值
    function addAttrValue() {

        layui.use(['form', 'layedit', 'laydate', 'table', 'element'], function () {
            var form = layui.form,
                layer = layui.layer;
            $("#AttrValue_body").append(
                "<tr>"
                +"<td>"
                +"<input type=\"text\" name='valueName' required lay-verify='required' placeholder='属性值名称'"
                +"autocomplete='off' class='layui-input' />"
                +"</td>"
                +"<td>"
                +"<button type='button' class='layui-btn layui-btn-danger' onclick='del_AttrValue(this)'>"
                +"<i class='layui-icon layui-icon-delete'></i>删除"
                +" </button>"
                +"</td>"
                +"</tr>")
            form.render();
        });
    }

    //保存平台属性
    function saveAttr() {
        var catelog3Id1 = $("#catelog3_ch").val();
        layui.use(['form', 'layedit', 'laydate', 'table', 'element'], function () {
            var form = layui.form,
                layer = layui.layer;

            var attrName = $("#name_null").val();
            if(attrName == null || attrName.trim() == ""){
                layer.alert("请填写平台属性名称再提交！")
                return false;
            }
            var serializeArray = $("#saveAttr_form").serializeArray();
            console.log(serializeArray)
            $.ajax({
                url: "/saveAttrInfo",
                type: "POST",
                data:serializeArray,
                success: function (result) {
                    if(result == "success"){
                        layer.closeAll('page'); //关闭所有页面层
                        layer.msg("修改平台属性成功！")
                        getAttrList(catelog3Id1);
                    }else{
                        //异常处理
                    }
                },
                error: function (arg1) {
                    //异常处理
                }
            });


        });

    }

    //平台属性删除
    function delAttr(obj) {
        alert("111")
    }

    //修改平台属性
    function editAttr(obj) {
        $("#AttrValue_body").empty()
        var catelog3Id1 = $("#catelog3_ch").val();
        var editattrid = $(obj).attr("editattrid")
        $("input[type='hidden'][name='id']").attr("value",editattrid)
        var hiddenid =$("input[type='hidden'][name='id']").attr("value");
        layui.use(['form', 'layedit', 'laydate', 'table', 'element'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate,
                element = layui.element, //导航的hover效果、二级菜单等功能，需要依赖element模块
                table = layui.table,
                $ = layui.jquery;

            var catelog3Id = $("#catelog3").val()
            var catelog3Name = $("#catelog3 :selected").text()
            if (catelog3Id == null) {
                layer.alert("请先选择三级分类！")
                return false;
            }

            //打开模态框
            layer.open({
                type: 1,
                title: "添加平台属性",
                area: ['900px', '600px'],
                scrollbar: false,
                content: $('#addAttr_mt')
            });

            //重置
            $("#name_null").val(null);
            $("#AttrValue_body").empty();
            //三级分类平台属性名称赋值
            $("#catelog3_ch").attr("selected","selected")
            $("#catelog3_ch").attr("value", catelog3Id);
            $("#catelog3_ch").text(catelog3Name);
            var editattrname = $(obj).parents("tr").children('td').eq(2).html();
            $("#name_null").val(editattrname)

            $.ajax({
                url: "/getAttrValueList?attrId="+hiddenid,
                type: "GET",
                success: function (res) {
                    $.each(res,function (index,item) {
                        layui.use(['form', 'layedit', 'laydate', 'table', 'element'], function () {
                            var form = layui.form,
                                layer = layui.layer;
                            $("#AttrValue_body").append(
                                "<tr>"
                                +"<td>"
                                +"<input type=\"text\" name='valueName' required lay-verify='required' placeholder='属性值名称'"
                                +"autocomplete='off' class='layui-input' value='"+item.valueName+"'/>"
                                +"</td>"
                                +"<td>"
                                +"<button type='button' class='layui-btn layui-btn-danger' onclick='del_AttrValue(this)'>"
                                +"<i class='layui-icon layui-icon-delete'></i>删除"
                                +" </button>"
                                +"</td>"
                                +"</tr>")
                            form.render();
                        });
                    })
                }
            })

            form.render()
        });

    }


    //类别下拉框
    layui.use(['form', 'layedit', 'laydate', 'table', 'element'], function () {
        var form = layui.form, element =layui.element,layedit = layui.layedit, $ = layui.jquery;

        //一级分类
        form.on('select(catelog1Id)', function (data) {
            $.ajax({
                url: "/getCatalog2?catalog1Id=" + data.value,
                dataType: 'json',
                type: "GET",
                success: function (result) {
                    $("#catelog2").empty();
                    $("#catelog3").empty();
                    $("#catelog2").append("<option value=''>请选择</option>");
                    $.each(result, function (index, item) {
                        $("#catelog2").append("<option value=" + item.id + ">" + item.name + "</option>")
                    });
                    form.render()
                }
            });
        });
        //二级分类
        form.on('select(catelog2Id)', function (data) {
            $.ajax({
                url: "/getCatalog3?catalog2Id=" + data.value,
                dataType: 'json',
                type: "GET",
                success: function (result) {
                    $("#catelog3").empty();
                    $("#catelog3").append("<option value=''>请选择</option>");
                    $.each(result, function (index, item) {
                        $("#catelog3").append("<option value=" + item.id + ">" + item.name + "</option>")
                    });
                    form.render()
                }
            });
        });
        //三级分类
        form.on('select(catelog3Id)', function (data) {
            $.ajax({
                url: "/attrInfoList?catalog3Id=" + data.value,
                dataType: 'json',
                type: "GET",
                success: function (result) {
                    $("#attrList_tb").empty();
                    $.each(result, function (index, item) {
                        $("#attrList_tb").append("<tr>"
                            + "<td>" + (index + 1) + "</td>"
                            + "<td id=" + item.id + ">" + item.id + "</td>"
                            + "<td>" + item.attrName + "</td>"
                            + "<td>"
                            + "<button editattrid=" + item.id + " type='button' class='layui-btn attrValue_btn' onclick='editAttr(this)'>" + "<i class='layui-icon layui-icon-edit'></i>修改" + "</button>"
                            + "<button delattrid=" + item.id + " type='button' class='layui-btn layui-btn-danger' onclick='delAttr(this)'>" + "<i class='layui-icon layui-icon-delete'></i>删除" + "</button>"
                            + "</td>"
                            + "</tr>")
                    });
                    form.render()
                }
            });
        });
    });


</script>

</body>

</html>