<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>交易平台后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
</head>
<body>
<div>
    <blockquote class="layui-elem-quote layui-quote-nm">
        <span class="layui-breadcrumb">
          <a href="/admin/welcome">首页</a>
          <a href="">用户管理</a>
          <a><cite>社交用户</cite></a>
        </span>
    </blockquote>
</div>
<div class="layui-container">
    <table class="layui-hide" id="oriuserlist" lay-filter="attrList_filter"></table>
</div>

</hr>



<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/layui/layui.js"></script>
<script>
    layui.use('element', function () {var element = layui.element;});
</script>

<script>
    layui.use(['form', 'layedit', 'laydate', 'table', 'element', 'upload'],function () {
        var form = layui.form, element = layui.element, layedit = layui.layedit, $ = layui.jquery, table = layui.table;
        var upload = layui.upload;
        table.render({
            elem: '#oriuserlist'
            , url: "http://localhost:8080/getAllSocUser"
            , cols: [[
                {type: 'numbers',  title: '序号'}
                , {field: 'id', title: '登录账号'}
                , {field: 'nickname', title: '微博昵称'}
                , {field: 'job',  title: '职业'}
                , {field: 'phone', title: '电话号码'}
                , {field: 'createTime', title: '注册时间',templet: '<div>{{layui.util.toDateString(d.showTime, "yyyy-MM-dd") }}</div>'}
                , {fixed: 'right', width: 210, align: 'center', toolbar: '#barDemo'}
            ]]
            , page: true
            , toolbar: '#toolbarDemo'
            , limits: [5, 10, 15] //显示
            , limit: 10 //每页默认显示的数量
            , parseData: function (res) { //res 即为原始返回的数据
                return {
                    "code": 0, //解析接口状态
                    "msg": "", //解析提示文本
                    "count": res.length, //解析数据长度
                    "data": res //解析数据列表
                };
            }
        });
    })

</script>

<script type="text/html" id="toolbarDemo">
    <!--    <div class="layui-btn-container">-->
    <!--        <button class="layui-btn layui-btn-sm" lay-event="addData">添加当前SPU</button>-->
    <!--        &lt;!&ndash;        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>&ndash;&gt;-->
    <!--        &lt;!&ndash;        <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>&ndash;&gt;-->
    <!--    </div>-->
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>

</html>